<h2>Resume Details/Editor</h2>

<! Resume Title: </p>
<!%= text_area_tag :resume, @title_helper, class: 'form-control', style: 'height: 35px; width:25vw' %>

<%= form_tag resume_save_path, class: 'form' do %>
  <%= label :resume, :resume, 'Resume', :class => 'col-form-label' %>
  <%= text_area_tag :resume, @editor_helper, class: 'form-control', style: 'height: 400px; width: 75vw' %>
  <br/>
  <%= link_to 'Cancel', uploaded_path, class: 'btn btn-secondary' %>
  <%= submit_tag 'Save', class: 'btn btn-primary' %>
<% end %>

<br>


<br>

<%= link_to 'Back to Job Description', uploaded_path, class: 'btn btn-success' %>
<%= link_to 'Upload a New Resume', root_path, class: 'btn btn-danger' %>


