<h2>Powered by ChatGPT 3.5</h2>
<p>Upload your Resume</p>

<%= form_for @resume, url: resume_index_path, html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :file %>
    <%= f.file_field :file %>
  </div>
  <div class="actions">
    <%= f.submit "Upload Resume" %>
  </div>
<% end %>
<%= link_to 'Continue', uploaded_path, class: 'btn btn-primary' %>

