<h2>Powered by ChatGPT 3.5</h2>
<p>Upload your Resume</p>

<div class="row">
  <div class="col-md-6">
    <%= form_for @resume, url: resume_index_path, html: { multipart: true } do |f| %>
      <div class="field">
        <%= f.label :file %>
        <%= f.file_field :file %>
      </div>
      <div class="actions">
        <%= f.submit "Upload Resume" %>
      </div>
    <% end %>
  </div> <!-- Close this div -->
  <div class="col-md-6">
    <%= form_for @resume, url: resume_index_path, html: { multipart: true } do |f| %>
      <div class="field" style="padding-top: 20px;">
        <%= f.label :resume_text, 'Resume Text' %>
        <%= f.text_area :resume_text, style: 'width: 100%;' %>
      </div>
      <div class="actions">
        <%= f.submit "Submit Text" %>
      </div>
    <% end %>
  </div>
</div>

