<!DOCTYPE html>
<html>
  <head>
    <title>T(ai)lor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', 'media' => 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <style>
      /* Add custom CSS for vertical centering */
      .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between; /* Align items at both ends */
        height: 80px; /* Adjust the height as needed */
        background-color: rgba(30, 30, 30, 1);
        color: white;
        margin-bottom: 20px;
      }

      .title {
        padding-left: 10px;
        padding-top: 5px;
        font-family: Didot, sans-serif;
        font-weight: bold; /* Make the font bold */
	margin-top: 3px; /* Remove default margin for h1 element */
	letter-spacing: 0.8px;
      }

      .ai-text {
        color: rgba(98, 158, 202, 1); /* Set the color for 'AI' text */
      }

      .secondary-title {
        padding-right: 10px;
        padding-top: 5px;
        font-family: Verdana, sans-serif;
        /*font-weight: bold;*/ /* Make the font bold */
	margin-top: 3px; /* Remove default margin for h1 element */
	font-size: 120%;
	letter-spacing: 0.4px;
      }
    </style>
  </head>
  <body>
    <%# These classes come from the Bootstrap CSS framework. %>
    <nav class="navbar navbar-expand-lg">
      <h1 class="title">t<span class="ai-text">AI</span>lor</h1>
      <h1 class="secondary-title">Powered by ChatGPT 3.5</h1>
    </nav>
    <div class="container">
      <%# Render "flash" messages in our application. This loads _flash.erb %>
      <%= render 'layouts/flash' %>
      <main id="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>

